FruitAPI/bin/Debug
FruitWebApp-codebehind/bin
FruitWebApp-codebehind/obj
FruitAPI/obj
FruitAPI/bin
FruitWebApp-codebehind/obj/project.assets.json
FruitWebApp-codebehind/obj/project.assets.json
FruitAPI/.vs/slnx.sqlite
FruitAPI/.vs/slnx.sqlite
FruitWebApp-render/bin/Debug/net7.0/FruitWebApp.dll
FruitAPI/bin/Debug/net7.0/FruitAPI.dll
